.horizontal-menu {
    display: flex;
    .logo {
        background: linear-gradient(270deg, #A7CB19 0%, #D3DE46 100%);
        padding: 53px 130px;
        clip-path: polygon(0% 0%, 100% 0%, 76% 50%, 50% 100%, 0% 100%);
    }
    .group-search {
        display: flex;
        float: right;
        padding: 46px 100px 52px 13px;
        p {
            font-family: GuardianSansRegular;
            font-size: 14px;
            line-height: 17px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.2px;
            color: #000000;
            padding: 0px 35px;
            &:not(:first-child) {
                border-left: 1px solid #D9D9D9;
            }

        }
    }
    .group-menu {
        display: flex;
        width: 100%;
        .dropdown {
            font-family: GuardianSansRegular;
            padding: 6px;
        }
    }
    .dropdown-toggle {
        background-color: #fff;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.2px;
        color: #000000;

        &:after {
            background-image: url('../images/dropdown.svg');
        }
    }

}