.announcements-slider .block-filter {
  padding-left: 0px;
}
.announcements-slider .block-filter .form-group {
  margin-bottom: 0px;
}
.announcements-slider .block-filter select option {
  font-family: GuardianSansRegular;
  font-size: 17px;
  line-height: 24px;
  color: #9091A8;
}
.announcements-slider .announcements-slider-item {
  margin: 0;
}
.announcements-slider .announcements-slider-item .slick-track {
  position: relative;
  left: 193px;
  top: 0px;
  opacity: unset !important;
  width: 100% !important;
  display: flex !important;
}
.announcements-slider .announcements-slider-item .slick-slide {
  float: unset;
}
.announcements-slider .announcements-slider-item .slick-dots li button {
  border: 1px solid #9FA19D;
}
.announcements-slider .announcements-slider-item .slick-prev {
  background-image: url('../images/announcements/announcements-slider-prev.svg');
  position: absolute;
  width: 17px;
  height: 27px;
  top: -16px;
  left: 80%;
  float: right;
}
.announcements-slider .announcements-slider-item .slick-next {
  width: 17px;
  height: 27px;
  background-image: url('../images/announcements/announcements-slider-next.svg');
  position: absolute;
  top: -17px;
  right: 13%;
}
.announcements-slider .announcements-slider-item .item {
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin: 60px 15px;
}
.announcements-slider .announcements-slider-item .item:first-child {
  margin-left: 0px;
}
.announcements-slider .announcements-slider-item .item .first-title,
.announcements-slider .announcements-slider-item .item .second-title,
.announcements-slider .announcements-slider-item .item .content {
  color: #464749;
  line-height: 24px;
}
.announcements-slider .announcements-slider-item .item .first-title,
.announcements-slider .announcements-slider-item .item .second-title {
  font-family: GuardianSansBold;
}
.announcements-slider .announcements-slider-item .item .first-title,
.announcements-slider .announcements-slider-item .item .content {
  font-size: 17px;
}
.announcements-slider .announcements-slider-item .item .second-title {
  font-size: 20px;
  display: flex;
  align-items: center;
  height: 120px;
}
.announcements-slider .announcements-slider-item .item .content {
  font-family: GuardianSansRegular;
  overflow: hidden;
  height: 72px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.announcements-slider .announcements-slider-item .item .group-date-link {
  justify-content: space-between;
}
.announcements-slider .announcements-slider-item .item .group-date-link a {
  font-family: GuardianSansBold;
  font-size: 17px;
  line-height: 24px;
  text-align: right;
  color: #A7CB19;
}
.announcements-slider .announcements-slider-item .item .group-date-link p {
  font-family: GuardianSansRegular;
  font-size: 17px;
  line-height: 24px;
  color: #464749;
}
