.career-resources {
  padding: 60px 0px;
  margin: 30px 0px;
  background: linear-gradient(97.82deg, #F8F9DD 20.13%, #E1DDD9 72.98%);
}
.career-resources .information-text {
  display: flex;
  justify-content: center;
}
.career-resources .information-text p {
  font-family: GuardianSansBold;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #464749;
  padding-bottom: 15px;
}
.career-resources .resources-link {
  display: flex;
  justify-content: center;
}
.career-resources .resources-link a {
  font-family: GuardianSansMedium;
  font-size: 17px;
  line-height: 24px;
  width: 199px;
  height: 50px;
  text-align: center;
  color: #464749;
  background: #D3DE46;
  border: 1px solid #D3DE46;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  padding-top: 12px;
}
.career-resources .resources-link a:hover {
  text-decoration: none;
}
