.career-blog {
  padding: 60px 0px;
}
.career-blog .main-title p {
  font-family: GuardianSansBold;
  font-size: 26px;
  line-height: 30px;
  color: #464749;
  border-left: 8px solid #A7CB19;
  padding-left: 26px;
}
.career-blog .career-blog-slider-item {
  padding-top: 10px;
  margin-right: 15px !important;
}
.career-blog .career-blog-slider-item .left-item .bg-wrapper {
  width: 100%;
  height: 282px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}
.career-blog .career-blog-slider-item .left-item .bg-opacity {
  background: linear-gradient(19.61deg, rgba(0, 0, 0, 0.7) 8.42%, rgba(0, 0, 0, 0) 73.06%);
  opacity: 0.95;
  width: 100%;
  height: 100%;
}
.career-blog .career-blog-slider-item .left-item .group-text-title {
  position: absolute;
  bottom: 20px;
  left: 0px;
  padding-left: 24px;
}
.career-blog .career-blog-slider-item .left-item .group-text-title .title {
  font-family: GuardianSansBold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.career-blog .career-blog-slider-item .left-item .group-text-title .text {
  font-family: GuardianSansMedium;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
.career-blog .career-blog-slider-item .right-item .text p {
  margin-bottom: 0;
}
.career-blog .career-blog-slider-item .right-item .text .first-text {
  font-family: GuardianSansLight;
  font-size: 14px;
  line-height: 18px;
  color: #464749;
  padding: 17px 10px 5px;
}
.career-blog .career-blog-slider-item .right-item .text .second-text {
  font-family: GuardianSansBold;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #464749;
  padding: 5px 10px 5px;
}
.career-blog .career-blog-slider-item .right-item .text .third-text {
  font-family: GuardianSansRegular;
  font-size: 17px;
  line-height: 24px;
  color: #464749;
  padding: 5px 10px 17px;
}
.career-blog .career-blog-slider-item .right-item .first-item,
.career-blog .career-blog-slider-item .right-item .second-item {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.career-blog .career-blog-slider-item .right-item .second-item {
  margin-top: 30px;
}
.career-blog .career-blog-slider-item .right-item .img {
  padding-right: 10px;
  background-image: url("../images/careers-blog-slider/right-bottom.png");
  background-size: 100%;
  width: 125px;
}
.career-blog .career-blog-slider-item .right-item .img img {
  width: 100%;
}
.career-blog .slick-slide {
  display: flex !important;
  min-width: 1100px;
}
.career-blog .slick-list {
  min-height: 315px !important;
}
.career-blog .slick-initialized {
  min-height: 315px !important;
}
.career-blog .slick-prev {
  background-image: url('../images/careers-blog-slider/career-blog-prev.svg');
  top: -9%;
  left: 90%;
  width: 18px;
}
.career-blog .slick-next {
  background-image: url('../images/careers-blog-slider/career-blog-next.svg');
  top: -9%;
  right: 2%;
  width: 18px;
}
.career-blog .see-all-blogs p {
  font-family: GuardianSansBold;
  font-size: 17px;
  line-height: 24px;
  text-align: right;
  color: #A7CB19;
  padding-top: 30px;
}
