@font-face {
  font-family: GuardianSansRegular;
  src: url(../fonts/GuardianSansRegular.otf);
}
@font-face {
  font-family: GuardianSansBold;
  src: url(../fonts/GuardianSansBold.otf);
}
@font-face {
  font-family: GuardianSansMedium;
  src: url(../fonts/GuardianSansMedium.otf);
}
@font-face {
  font-family: GuardianSansLight;
  src: url(../fonts/GuardianSansLight.otf);
}
@font-face {
  font-family: GuardianSansBlack;
  src: url(../fonts/GuardianSansBlack.otf);
}
@font-face {
  font-family: GuardianSansThin;
  src: url(../fonts/GuardianSansThin.otf);
}
.notification {
  margin: 0px 0px;
  background: #E1E676;
}
.notification .text {
  justify-content: space-between;
  padding: 0px 0px;
}
.notification p {
  font-family: GuardianSansRegular;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #000000;
  margin: 0px;
}
.slider .information {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background: radial-gradient(119.38% 92.52% at 18.78% 100%, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
.slider .style-position {
  position: absolute;
  bottom: 35px;
  left: 100px;
  width: 30%;
}
.slider img {
  width: 100%;
}
.slider .slick-list {
  height: 415px !important;
}
.slider .slick-list .slick-track {
  height: 415px !important;
}
.slider .text {
  font-family: GuardianSansBold;
  font-size: 32px;
  line-height: 45px;
  display: flex;
  align-items: flex-end;
  color: #FFFFFF;
  margin-bottom: 5px;
}
.slider a {
  font-family: GuardianSansMedium;
  font-size: 17px;
  line-height: 24px;
  color: #A7CB19;
  margin-bottom: 13px;
}
.slider a:hover {
  text-decoration: none;
}
.slider .pause-icon {
  width: 16px;
  height: 16px;
  margin-top: 13px;
}
.slider .slider-item {
  position: relative;
}
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 15px !important;
}
.slick-dots li button {
  width: 13px !important;
  height: 13px !important;
  border-radius: 50%;
  background: #FFFFFF !important;
  color: #FFFFFF !important;
}
.slick-dots li button::before {
  width: 13px !important;
  height: 13px !important;
  color: #FFFFFF !important;
}
.slick-dots .slick-active button {
  background: #A7CB19 !important;
  color: #A7CB19 !important;
}
.slick-dots .slick-active button::before {
  width: 13px !important;
  height: 13px !important;
  border-radius: 50%;
  background: #A7CB19 !important;
  color: #A7CB19 !important;
}
.block-quotes {
  padding: 40px 0px;
}
.block-quotes .text-quotes {
  font-family: GuardianSansThin;
  font-size: 36px;
  line-height: 45px;
  display: flex;
  align-items: center;
  color: #000000;
  padding: 15px 100px;
}
.block-quotes .author {
  padding: 15px 100px;
}
.block-quotes .author p {
  font-size: 18px;
  line-height: 24px;
  color: #6B5A4D;
}
.block-quotes .author .name {
  font-family: GuardianSansBold;
}
.block-quotes .author .position {
  font-family: GuardianSansRegular;
}
.block-quotes .quote {
  position: relative;
}
.block-quotes .quote .left-quote {
  position: absolute;
  left: 0;
}
.block-quotes .quote .right-quote {
  position: absolute;
  right: 0;
}
.marketing-information .content {
  background: linear-gradient(284.8deg, #E1DDD9 3.07%, #F6F7D3 173.39%);
  padding: 20px 20px;
}
.marketing-information .content .title {
  border-left: 8px solid #A7CB19;
  padding: 0px 12px;
  font-family: GuardianSansBold;
  font-size: 32px;
  line-height: 45px;
  display: flex;
  align-items: center;
  color: #3B2B16;
}
.marketing-information .content .text {
  font-family: GuardianSansRegular;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.marketing-information .revolver {
  padding-left: 0px;
}
.marketing-information .revolver .item {
  max-width: 33%;
  flex: 0 0 33.333%;
  height: 300px;
  position: relative;
}
.marketing-information .revolver .item p {
  font-family: GuardianSansBold;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.marketing-information .revolver .item div {
  position: absolute;
  bottom: 0;
  padding-left: 10px;
}
.marketing-information .revolver .item img {
  padding-top: 15px;
  padding-bottom: 15px;
}
.marketing-information .revolver .left {
  background-image: url('../images/card2.png');
}
.marketing-information .revolver .center {
  background-image: url('../images/card3.png');
}
.marketing-information .revolver .right {
  background-image: url('../images/card4.png');
}
.begin-module {
  padding: 150px 0px;
}
.begin-module .text-begin p {
  border-left: 8px solid #A7CB19;
  padding-left: 22px;
  font-family: GuardianSansBold;
  font-size: 32px;
  line-height: 45px;
  color: #3B2B16;
}
.begin-module .center-text p {
  font-family: GuardianSansRegular;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
}
.begin-module button {
  background: #D3DE46;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  width: 189px;
  height: 65px;
  border: 1px solid #D3DE46;
  float: right;
  font-family: GuardianSansMedium;
  font-size: 17px;
  line-height: 24px;
  color: #6B5A4D;
}
.testimonials {
  filter: drop-shadow(2px 4px 30px rgba(142, 129, 118, 0.25));
  background-color: #F7F6D3;
  padding: 40px 0px 60px;
}
.testimonials p {
  font-family: GuardianSansBold;
  font-size: 32px;
  line-height: 45px;
  color: #3B2B16;
  border-left: 8px solid #A7CB19;
  padding-left: 22px;
}
.testimonials .list-testimonials .item {
  position: relative;
}
.testimonials .list-testimonials .item .play-video {
  position: absolute;
  bottom: 30px;
  right: 20px;
}
.event-module .fw-event {
  margin: 0px;
}
.event-module .title {
  font-family: GuardianSansBold;
  font-size: 32px;
  line-height: 45px;
  color: #3B2B16;
  border-left: 8px solid #A7CB19;
  padding-left: 22px;
  margin: 40px 0px;
}
.event-module .left-item {
  position: relative;
  padding: 0px 0px 20px;
}
.event-module .date-time {
  width: 52px;
  height: 58px;
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 40px;
}
.event-module .date-time p {
  font-family: GuardianSansBold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #6B5A4D;
  padding: 5px 10px;
}
.event-module .content-title {
  font-family: GuardianSansRegular;
  font-size: 36px;
  line-height: 43px;
  display: flex;
  align-items: flex-end;
  text-transform: capitalize;
  color: #6B5A4D;
  padding: 0px 0px 65px;
}
.event-module .content .sub-title {
  /* Guardian Sans/Mobile/Light/Body */
  font-family: GuardianSansLight;
  font-size: 14px;
  line-height: 18px;
  color: #6B5A4D;
}
.event-module .content .text {
  font-family: GuardianSansRegular;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}
.event-module .content a {
  color: #6B7D21;
  font-family: GuardianSansMedium;
  font-size: 14px;
  line-height: 24px;
}
.event-module .content a:hover {
  text-decoration: none;
}
.event-module .column-event {
  padding: 20px 0px;
}
.event-module .column-event .bg-iframe {
  position: relative;
  margin-right: -15px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.event-module .column-event .bg-iframe img {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
.event-module .column-event .bg-iframe .name {
  font-family: GuardianSansBold;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  right: 10px;
}
.event-module .column-event .bg-iframe .date-time {
  width: 52px;
  height: 58px;
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 30px;
}
.event-module .column-event .bg-iframe .date-time p {
  font-family: GuardianSansBold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #6B5A4D;
  padding: 5px 10px;
}
.event-module .column-event .content .sub-title {
  font-family: GuardianSansLight;
  font-size: 14px;
  line-height: 24px;
  color: #6B5A4D;
  padding: 10px 0px 5px;
  margin: 0px;
}
.event-module .column-event .content .text {
  font-family: GuardianSansRegular;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  padding: 5px 0px;
}
.event-module .column-event .content a {
  padding: 20px 0px;
}
.event-module .events-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0px;
}
.event-module .events-button button {
  width: 189px;
  height: 50px;
  background: #D3DE46;
  border: 1px solid #D3DE46;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  font-family: GuardianSansMedium;
  font-size: 17px;
  line-height: 24px;
  color: #6B5A4D;
}
@media only screen and (min-width: 1920px) {
  .slider .slick-list {
    height: 460px !important;
  }
  .slider .slick-list .slick-track {
    height: 460px !important;
  }
}
.footer {
  background-color: #6B5A4D;
  padding: 70px 0px 30px;
}
.footer .item {
  margin: 0px 15px;
  padding: 0px;
}
.footer .w-12 {
  flex: 0 0 12.666667%;
  max-width: 12.666667%;
}
.footer .w-20 {
  flex: 0 0 19.666667%;
  max-width: 19.666667%;
}
.footer .title {
  font-family: GuardianSansMedium;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  white-space: nowrap;
}
.footer .information,
.footer a {
  font-family: GuardianSansRegular;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer .links {
  display: grid;
}
.footer a:hover {
  text-decoration: none;
}
.footer .social-network {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}
.footer .social-network a {
  padding: 0px 5px;
}
.horizontal-menu {
  display: flex;
}
.horizontal-menu .logo {
  background: linear-gradient(270deg, #A7CB19 0%, #D3DE46 100%);
  padding: 53px 130px;
  clip-path: polygon(0% 0%, 100% 0%, 76% 50%, 50% 100%, 0% 100%);
}
.horizontal-menu .group-search {
  display: flex;
  float: right;
  padding: 46px 100px 52px 13px;
}
.horizontal-menu .group-search p {
  font-family: GuardianSansRegular;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #000000;
  padding: 0px 35px;
}
.horizontal-menu .group-search p:not(:first-child) {
  border-left: 1px solid #D9D9D9;
}
.horizontal-menu .group-menu {
  display: flex;
  width: 100%;
}
.horizontal-menu .group-menu .dropdown {
  font-family: GuardianSansRegular;
  padding: 6px;
}
.horizontal-menu .dropdown-toggle {
  background-color: #fff;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #000000;
}
.horizontal-menu .dropdown-toggle:after {
  background-image: url('../images/dropdown.svg');
}
.subscribe-form .form-content .item {
  width: 340px;
  height: 543px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  padding: 0;
}
.subscribe-form .form-content .item .text {
  position: absolute;
  top: 27%;
  padding: 0px 45px;
}
.subscribe-form .modal-dialog {
  max-width: 1080px;
}
.subscribe-form .modal-content {
  background: unset;
  border: none;
}
.subscribe-form .modal-header {
  border: none;
}
.subscribe-form .modal-footer {
  border: none;
}
.subscribe-form .email {
  width: 45%;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #9FA19D;
  align-items: center;
  justify-content: center;
  margin: 22px 0px;
}
.subscribe-form .email::placeholder {
  font-family: GuardianSansRegular;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #9FA19D;
}
.subscribe-form .submit-btn {
  margin: 0px 0px 22px;
  background: #D3DE46;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  border: #D3DE46;
  font-family: GuardianSansMedium;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #271C0E;
  width: 158px;
  height: 50px;
}
.subscribe-form .text p {
  color: #FFFFFF;
}
.subscribe-form .text .title {
  font-family: GuardianSansBold;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.subscribe-form .text .sub-title {
  font-family: GuardianSansRegular;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
.subscribe-form .big-title {
  position: absolute;
  top: 10%;
  width: 100%;
  font-family: GuardianSansMedium;
  font-size: 44px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.subscribe-form .big-title .close {
  position: absolute;
  top: 0;
  right: 8%;
}
.subscribe-form .form-submit {
  width: 97%;
  position: absolute;
  bottom: 0px;
  padding: 25px 0px;
}
.subscribe-form .form-submit p {
  width: 45%;
  font-family: GuardianSansRegular;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.subscribe-form .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background: radial-gradient(100% 100% at 100% 100%, #000000 0%, rgba(0, 0, 0, 0) 160%);
}
.examination-interested {
  padding: 60px 0px;
  margin: 0px;
}
.examination-interested .group-item {
  padding: 15px 15px;
}
.examination-interested .group-item:not(:first-child) {
  padding-left: 5px;
}
.examination-interested .group-item .item {
  aspect-ratio: 0.77;
  background-size: 100%;
  margin: 0px 15px;
  position: relative;
  padding: 0px;
}
.examination-interested .group-item .item p {
  font-family: GuardianSansMedium;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  top: 40%;
  padding: 0px 30px;
}
.examination-interested .title {
  font-family: GuardianSansBold;
  font-size: 32px;
  line-height: 45px;
  color: #464749;
}
.examination-interested .bg {
  width: 100%;
  height: 100%;
  background: rgba(32, 32, 32, 0.6);
  display: flex;
  justify-content: center;
}
.register-examinations {
  background-size: 100%;
}
.register-examinations .title {
  font-family: GuardianSansBold;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #464749;
  padding: 60px 0px 10px;
  margin: 0px;
}
.register-examinations .sub-title {
  font-family: GuardianSansRegular;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #464749;
  padding: 10px 0px 10px;
  margin: 0px;
}
.register-examinations .register-btn {
  font-family: GuardianSansMedium;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #727570;
  padding: 10px 0px 60px;
}
.register-examinations .register-btn button {
  background: #D3DE46;
  color: #727570;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border: #D3DE46;
  padding: 13px;
  margin: 0px 13px;
}
.announcements-slider .block-filter {
  padding-left: 0px;
}
.announcements-slider .block-filter .form-group {
  margin-bottom: 0px;
}
.announcements-slider .block-filter select option {
  font-family: GuardianSansRegular;
  font-size: 17px;
  line-height: 24px;
  color: #9091A8;
}
.announcements-slider .announcements-slider-item {
  margin: 0;
}
.announcements-slider .announcements-slider-item .slick-track {
  position: relative;
  left: 193px;
  top: 0px;
  opacity: unset !important;
  width: 100% !important;
  display: flex !important;
}
.announcements-slider .announcements-slider-item .slick-slide {
  float: unset;
}
.announcements-slider .announcements-slider-item .slick-dots li button {
  border: 1px solid #9FA19D;
}
.announcements-slider .announcements-slider-item .slick-prev {
  background-image: url('../images/announcements/announcements-slider-prev.svg');
  position: absolute;
  width: 17px;
  height: 27px;
  top: -16px;
  left: 80%;
  float: right;
}
.announcements-slider .announcements-slider-item .slick-next {
  width: 17px;
  height: 27px;
  background-image: url('../images/announcements/announcements-slider-next.svg');
  position: absolute;
  top: -17px;
  right: 13%;
}
.announcements-slider .announcements-slider-item .item {
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin: 60px 15px;
}
.announcements-slider .announcements-slider-item .item:first-child {
  margin-left: 0px;
}
.announcements-slider .announcements-slider-item .item .first-title,
.announcements-slider .announcements-slider-item .item .second-title,
.announcements-slider .announcements-slider-item .item .content {
  color: #464749;
  line-height: 24px;
}
.announcements-slider .announcements-slider-item .item .first-title,
.announcements-slider .announcements-slider-item .item .second-title {
  font-family: GuardianSansBold;
}
.announcements-slider .announcements-slider-item .item .first-title,
.announcements-slider .announcements-slider-item .item .content {
  font-size: 17px;
}
.announcements-slider .announcements-slider-item .item .second-title {
  font-size: 20px;
  display: flex;
  align-items: center;
  height: 120px;
}
.announcements-slider .announcements-slider-item .item .content {
  font-family: GuardianSansRegular;
  overflow: hidden;
  height: 72px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.announcements-slider .announcements-slider-item .item .group-date-link {
  justify-content: space-between;
}
.announcements-slider .announcements-slider-item .item .group-date-link a {
  font-family: GuardianSansBold;
  font-size: 17px;
  line-height: 24px;
  text-align: right;
  color: #A7CB19;
}
.announcements-slider .announcements-slider-item .item .group-date-link p {
  font-family: GuardianSansRegular;
  font-size: 17px;
  line-height: 24px;
  color: #464749;
}
.thank-you-form .form-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 80px;
}
.thank-you-form .form-content .item {
  width: 250px;
  aspect-ratio: 0.78;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  padding: 0;
  margin: 0 15px;
}
.thank-you-form .form-content .item .text {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0px 45px;
}
.thank-you-form .modal-dialog {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 1200px;
}
.thank-you-form .modal-content {
  background: unset;
  border: none;
}
.thank-you-form .modal-header {
  border: none;
}
.thank-you-form .modal-footer {
  border: none;
}
.thank-you-form .email {
  width: 45%;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #9FA19D;
  align-items: center;
  justify-content: center;
  margin: 22px 0px;
}
.thank-you-form .email::placeholder {
  font-family: GuardianSansRegular;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #9FA19D;
}
.thank-you-form .submit-btn {
  margin: 0px 0px 22px;
  background: #D3DE46;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  border: #D3DE46;
  font-family: GuardianSansMedium;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #271C0E;
  width: 158px;
  height: 50px;
}
.thank-you-form .text p {
  color: #FFFFFF;
}
.thank-you-form .text .title {
  font-family: GuardianSansBold;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.thank-you-form .text .sub-title {
  font-family: GuardianSansRegular;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin: 0px;
}
.thank-you-form .group-text-title {
  width: 100%;
  font-family: GuardianSansMedium;
  font-size: 44px;
  line-height: 60px;
  color: #FFFFFF;
}
.thank-you-form .group-text-title .close {
  position: absolute;
  top: 0;
  right: 8%;
}
.thank-you-form .group-text-title .check-out-text {
  font-family: GuardianSansMedium;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
.thank-you-form .form-submit {
  width: 97%;
  position: absolute;
  bottom: 0px;
  padding: 25px 0px;
}
.thank-you-form .form-submit p {
  width: 45%;
  font-family: GuardianSansRegular;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.thank-you-form .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background: radial-gradient(100% 100% at 100% 100%, #000000 0%, rgba(0, 0, 0, 0) 160%);
}
.thank-you-form .thank-you-title {
  color: #A7CB19;
  margin: 0;
}
.why-certified {
  background: #A7CB19;
}
.why-certified .text-item {
  padding: 81px 54px 54px 80px;
}
.why-certified .text-item .title {
  font-family: GuardianSansBold;
  font-size: 26px;
  line-height: 30px;
  color: #464749;
  border-left: 8px solid #FFFFFF;
  padding-left: 13px;
}
.why-certified .text-item .text p {
  font-family: GuardianSansRegular;
  font-size: 17px;
  line-height: 24px;
  color: #464749;
}
@media only screen and (min-width: 1920px) {
  .why-certified .video-item iframe {
    width: 1044px !important;
    height: 515px !important;
  }
}
.desktop {
  display: block;
}
.mobile {
  display: none;
}
html {
  font-size: 16px;
}
@media (min-width: 1920px) {
  html {
    font-size: 16px;
  }
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1600px;
  }
}
@media (max-width: 1920px) {
  html {
    font-size: 16px;
  }
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1440px;
  }
}
@media (max-width: 1600px) {
  html {
    font-size: 16px;
  }
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1280px;
  }
  .navigation.navbar-dark .navbar-nav .nav-lang,
  .navigation.navbar-dark .navbar-nav .nav-link {
    padding: 0 15px;
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
}
@media (max-width: 1440px) {
  html {
    font-size: 15px;
  }
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 15px;
  }
  section:first-child {
    height: unset;
    max-height: unset;
  }
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 95vw;
  }
}
@media (max-width: 991px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 95vw;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}
.certification-benefits {
  padding: 60px 0px;
}
.certification-benefits .position {
  position: relative;
  height: 700px;
}
.certification-benefits .title-and-text .title {
  font-family: GuardianSansBold;
  font-size: 26px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #3B2B16;
  border-left: 8px solid #A7CB19;
  padding-left: 8px;
}
.certification-benefits .title-and-text .text {
  font-family: GuardianSansRegular;
  font-size: 17px;
  line-height: 24px;
  color: #464749;
}
.certification-benefits .left-text {
  padding: 60px 30px;
}
.certification-benefits .left-text .title {
  font-family: GuardianSansBold;
  font-size: 18px;
  line-height: 24px;
  color: #464749;
}
.certification-benefits .left-text .content {
  font-family: GuardianSansRegular;
  font-size: 17px;
  line-height: 24px;
  color: #464749;
  text-align: center;
}
.certification-benefits .left-text button {
  font-family: GuardianSansMedium;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #271C0E;
  background: #D3DE46;
  border: 1px solid #D3DE46;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  padding: 13px;
}
.certification-benefits .certification-benefits-bg {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.certification-benefits .item {
  padding: 60px;
}
.certification-benefits .item .find-more-column-3 {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #A7CB19;
  opacity: 0.6;
  position: relative;
  right: -155px;
}
.certification-benefits .item-01 {
  position: absolute;
  right: 0%;
  top: 200px;
  z-index: 4;
}
.certification-benefits .item-02 {
  position: absolute;
  top: 108px;
  z-index: 3;
}
.certification-benefits .item-03 {
  position: absolute;
  right: 0%;
  top: 9px;
  z-index: 2;
}
.certification-benefits .network-opportunities {
  position: relative;
  right: -77px;
  background-color: #A7CB19;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.container .card-stack {
  width: 500px;
  height: 250px;
  margin: 20px auto;
}
.container .card-stack .buttons {
  position: absolute;
  background: rgba(0, 0, 0, 0.46);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  font-size: 22px;
  z-index: 100;
  outline: none;
  transition: all 0.2s ease;
}
.container .card-stack .buttons:hover {
  transform: scale(1.3, 1.3);
}
.container .card-stack .prev {
  left: 15px;
  right: auto;
}
.container .card-stack .carousel .buttons:hover {
  color: #C01313;
  background: #fff;
}
.container .card-stack .card-list {
  width: 300px;
  position: relative;
}
.container .card-stack .card-list__image {
  height: 200px;
}
.container .card-stack .card-list__text {
  color: #fff;
  font-weight: 300;
}
.container .card-stack .card-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease-in-out;
  border-radius: 10px;
  position: absolute;
  list-style: none;
  height: 300px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  -webkit-box-shadow: 0 2px 15px 1px rgba(225, 225, 225, 0.5);
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5);
}
.container .card-stack .card-list li:nth-child(1) {
  top: 24px;
  width: 60%;
  /* animation: scaleCard 100ms; */
}
.container .card-stack .card-list li:nth-child(2) {
  top: 36px;
  width: 70%;
}
.container .card-stack .card-list li:nth-child(3) {
  top: 48px;
  width: 80%;
}
.container .card-stack .card-list li:nth-child(4) {
  top: 60px;
  width: 90%;
}
.container .card-stack .card-list li:nth-child(5) {
  top: 72px;
  width: 100%;
}
.container .card-stack:hover > .buttons.prev {
  display: block;
  animation: bounceInLeft 200ms;
}
.container .card-stack:hover > .buttons.next {
  display: block;
  animation: bounceInRight 200ms;
}
.transformThis {
  animation: scaleDown 500ms;
}
.transformPrev {
  animation: scaleUp 100ms;
  display: none;
}
@keyframes scaleUp {
  0% {
    transform: scale(1.2) translateY(50px);
    opacity: 0;
  }
  20% {
    transform: scale(1.15) translateY(40px);
    opacity: 0.1;
  }
  40% {
    transform: scale(1.1) translateY(30px);
    opacity: 0.2;
  }
  60% {
    transform: scale(1.05) translateY(20px);
    opacity: 0.4;
  }
  80% {
    transform: scale(1.01) translateY(10px);
    opacity: 0.8;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  20% {
    transform: scale(1.01) translateY(20px);
    opacity: 0.8;
  }
  40% {
    transform: scale(1.05) translateY(40px);
    opacity: 0.4;
  }
  60% {
    transform: scale(1.1) translateY(60px);
    opacity: 0.2;
  }
  80% {
    transform: scale(1.15) translateY(80px);
    opacity: 0.1;
  }
  100% {
    transform: scale(1.2) translateY(100px);
    opacity: 0;
  }
}
@keyframes scaleCard {
  0% {
    top: 5px;
  }
  100% {
    top: 24px;
  }
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0);
  }
}
.careers-connect {
  padding: 40px 0px 60px;
}
.careers-connect .group-text-and-title .title {
  font-family: GuardianSansBold;
  font-size: 26px;
  line-height: 30px;
  color: #464749;
  border-left: 8px solid #A7CB19;
  padding-left: 25px;
  padding-bottom: 26px;
}
.careers-connect .group-text-and-title .text {
  font-family: GuardianSansRegular;
  font-size: 17px;
  line-height: 24px;
  color: #464749;
}
.careers-connect .group-item .left-img img {
  width: 100%;
  height: 100%;
}
.careers-connect .group-item .item {
  padding-top: 13px;
  padding-bottom: 13px;
}
.careers-connect .group-item .item .bg-wrapper {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.careers-connect .group-item .right-text .first-title {
  font-family: GuardianSansBold;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  color: #6B5A4D;
  margin: 0;
  padding-top: 29px;
}
.careers-connect .group-item .right-text .second-title {
  font-family: GuardianSansRegular;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #6B5A4D;
  padding: 0px 0px 10px;
  margin: 0;
}
.careers-connect .group-item .right-text .text {
  padding: 10px 0px 0px;
  font-family: GuardianSansRegular;
  font-size: 17px;
  line-height: 24px;
  color: #271C0E;
  min-height: 110px;
}
.careers-connect .group-item .right-text .find-more-link {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 26px;
}
.careers-connect .group-item .right-text .find-more-link a {
  font-family: GuardianSansBold;
  font-size: 17px;
  line-height: 24px;
  text-align: right;
  color: #A7CB19;
  padding-right: 30px;
}
.careers-connect .group-item .right-text .find-more-link a:hover {
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .careers-connect .group-item .right-text .first-title,
  .careers-connect .group-item .right-text .second-title,
  .careers-connect .group-item .right-text .text {
    padding-left: 15px;
  }
}
.career-resources {
  padding: 60px 0px;
  margin: 30px 0px;
  background: linear-gradient(97.82deg, #F8F9DD 20.13%, #E1DDD9 72.98%);
}
.career-resources .information-text {
  display: flex;
  justify-content: center;
}
.career-resources .information-text p {
  font-family: GuardianSansBold;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #464749;
  padding-bottom: 15px;
}
.career-resources .resources-link {
  display: flex;
  justify-content: center;
}
.career-resources .resources-link a {
  font-family: GuardianSansMedium;
  font-size: 17px;
  line-height: 24px;
  width: 199px;
  height: 50px;
  text-align: center;
  color: #464749;
  background: #D3DE46;
  border: 1px solid #D3DE46;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  padding-top: 12px;
}
.career-resources .resources-link a:hover {
  text-decoration: none;
}
.career-advisory-subscribe-form .form-content .item {
  width: 340px;
  height: 543px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  padding: 0;
}
.career-advisory-subscribe-form .form-content .item .text {
  position: absolute;
  top: 27%;
  padding: 0px 45px;
}
.career-advisory-subscribe-form .career-modal-content {
  background: unset;
  border: none;
}
.career-advisory-subscribe-form .career-modal-content .career-modal-body {
  position: relative;
}
.career-advisory-subscribe-form .modal-header {
  border: none;
}
.career-advisory-subscribe-form .modal-footer {
  border: none;
}
.career-advisory-subscribe-form .email {
  width: 30%;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #9FA19D;
  align-items: center;
  justify-content: center;
  margin: 22px 0px;
}
.career-advisory-subscribe-form .email::placeholder {
  font-family: GuardianSansRegular;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #9FA19D;
}
.career-advisory-subscribe-form .submit-btn {
  margin: 0px 0px 22px;
  background: #D3DE46;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  border: #D3DE46;
  font-family: GuardianSansMedium;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #271C0E;
  width: 158px;
  height: 50px;
}
.career-advisory-subscribe-form .text p {
  color: #000000;
}
.career-advisory-subscribe-form .text .title {
  font-family: GuardianSansBold;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #000000;
}
.career-advisory-subscribe-form .text .sub-title {
  font-family: GuardianSansRegular;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #000000;
}
.career-advisory-subscribe-form .big-title {
  position: absolute;
  top: 10%;
  width: 100%;
  font-family: GuardianSansMedium;
  font-size: 44px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.career-advisory-subscribe-form .big-title .close {
  position: absolute;
  top: 0;
  right: 8%;
}
.career-advisory-subscribe-form .big-title p {
  color: #000000;
}
.career-advisory-subscribe-form .form-submit {
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 25px 0px;
}
.career-advisory-subscribe-form .form-submit p {
  width: 30%;
  font-family: GuardianSansRegular;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
.career-advisory-subscribe-form .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.3) 100%);
}
